[submodule "dependencies/numd"]
	path = dependencies/numd
	url = ../../Rob-Rau/numd.git
[submodule "dependencies/mpid"]
	path = dependencies/mpid
	url = ../mpid.git
[submodule "dependencies/pyd"]
	path = dependencies/pyd
	url = ../../Rob-Rau/pyd.git
